@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap');

body {
    background-image: linear-gradient(red, orange, yellow, lime, green, teal, skyblue, blue, black);
}

* {
    color:black;
    font-family: 'Comic Neue', cursive, 'Verdana', Times, serif;
}