body, html {
    background-color: black;
    height: 100%;
    width: 100%;
}

* {
    color: black;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}

/* ANIMATIONS */

@keyframes fadein {
    100% {
        color: black;
    }

    0% {
        color: white;
    }
}