    #sex {


        animation: hello 2s forwards paused,
    violent-rotation 0.25s 12s infinite paused linear;  
    filter: saturate(7.5)
    }

    @keyframes violent-rotation {
        0% {
            transform: rotate(0deg);
        }

        25%{
            transform: rotate(90deg);
        }

        50%{
            transform: rotate(180deg);
        }

        75%{
            transform: rotate(216deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes hello {
        from{
            width: 0%;
        }
        to {
            width: 100%;
        }
    }
