@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&family=Roboto:wght@100&display=swap');

body {
    background-color: rgb(45, 20, 120);
}

* {
    color: rgb(249, 195, 255);
    margin: auto;
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

div {

}