@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: radial-gradient(rgb(72, 23, 119), rgb(34, 0, 66));
}

h1, h2, h3, h4, h5, h6 {
    font-size: 60px;
}

a {
    color:rgb(0, 247, 255);
}

p, a {
    font-size: 20px;
    line-height: 30px;
}

div {
    border-radius: 150px;
    border-style:dashed;
}

.linkdiv {
    width: 750px;
}

.fakelink, .fakelink:link, .fakelink:visited, .fakelink:hover, .fakelink:active {
    text-decoration: none !important;
    color:rgb(249, 195, 255) !important;
}

* {
    color: rgb(249, 195, 255);
    margin: auto;
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}