html, body {
    padding: 10px;
    background-color: black;
    min-height: 100%;
    min-width: 100%;
}

#mainbiggie {
    border-color: white;
    min-height: 500px;
    border-style: solid;
    background-color: rgb(50, 50, 2);
}

hr {
    color:white;
    height: 5px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;

}

* {
    color: white;
    font-size: 3vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}